
@media screen and (min-width: 300px) and (max-width: 763px) {
  .q-espc{
      padding-right: 0px;
      padding-left: 0px;
  }
.img-producto{
  padding-right: 5px;
  padding-left: 5px;
}
.t-producto-ind{
    padding-right: 5px;
    padding-left: 5px;
}
.mm {
  padding: 0px;
}
.elementos {
    margin-top: 19px;
}
.sec-2 img{
  margin: 0 auto;
height: none;
min-width: 82px;
}
  .sec-1 li img{
    max-height:  20px;
    padding-right: 15px;
  }
  .sec-3 img{
    max-height: 20px;
  }
  .sec-1 li span{
      font-size: 20px;
      color:#024772;
  }

  	.menu-wsi{
  		width:60%;
  		height:100%;
      top: 94px;
  		left:-100%;
  		margin:0;
  		position: fixed;
      background:#6b5e72;
      color: white;
      z-index: 10;
          }

  .menu2-nosotros ul li{
      list-style: none;
      font-size: 13px;
      padding-top: 20px;
  }
  .menu2-nosotros{
      margin-top: 1em;
  }
  .menu2-nosotros ul li span{
      padding-left: 30%
  }
  .menu2-nosotros .espacio-nosotros-2{
      padding-left: 15%;
      margin-top: 0.5em;
  }
  .xxx{
      padding-bottom: 20px;
  }
  ul.menu-mobil img {
      padding-right: 30px;
  }
  .welcome-2 .btn{
      padding: 15px 70px;
      border-radius: 0px;
      margin-bottom: 25px;
      margin-top: 10px;
  }
  .welcome-2 .btn-primary{
      color: #6b5e72;
      background-color: transparent;
      border: 3px solid #cad7d7;
  }

  .welcome-2 .btn-primary:hover {
    color: #6b5e72;
    background-color: transparent;
    border-color: #cad7d7;
  }
  .cat-1-xs{
    background: url(../img/categoria-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3em;
  padding-bottom: 3em;
  }
  .cat-2-xs{
    background: url(../img/categoria-2.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3em;
  padding-bottom: 3em;
  }
  .cat-3-xs{
    background: url(../img/categoria-3.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3em;
  padding-bottom: 3em;
  }
  .cat-4-xs{
    background: url(../img/categoria-4-xs.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 3em;
  padding-bottom: 3em;
  }
}
@media screen and (min-width: 764px) and (max-width: 1023px) {
  .cat-1-xs{
    background: url(../img/categoria-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 6em;
  padding-bottom: 6em;
  }
  .cat-2-xs{
    background: url(../img/categoria-2.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 6em;
  padding-bottom: 6em;
  }
  .cat-3-xs{
    background: url(../img/categoria-3.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 6em;
  padding-bottom: 6em;
  }
  .cat-4-xs{
    background: url(../img/categoria-4-xs.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 6em;
  padding-bottom: 6em;
  }

  .welcome-2 .btn{
      padding: 15px 70px;
      border-radius: 0px;
      margin-bottom: 25px;
      margin-top: 10px;
  }
  .welcome-2 .btn-primary{
      color: #6b5e72;
      background-color: transparent;
      border: 3px solid #cad7d7;
  }

  .welcome-2 .btn-primary:hover {
    color: #6b5e72;
    background-color: transparent;
    border-color: #cad7d7;
  }


}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .logo{
      max-width: 130px;
      margin: 0 auto;
      padding-bottom: 0px;
      padding-top: 10px;
  }
  .envio img {
    max-width: 120px;
}
.img-3 img {
    max-width: 18px;
}
.redes img{
  max-width: 20px;
}
.img-3 span{
  font-size: 11px;
}
.img-3 .col-lg-4{
      padding-right: 0px;
}
.login{
  padding-top: 50px;
}
.welcome h1 {
    font-size: 30px;
}
.welcome p{
  font-size: 11px;
}
.categoria-lg .col-md-4 h2, .categoria-lg .col-md-12 h2{
  font-size: 14px;
}
.welcome{
    margin-top: 3px;
}
.welcome .btn {
    padding: 10px 50px;
    margin-bottom: 18px;
    margin-top: 4px;
}

}
@media screen and (min-width: 1251px) and (max-width: 1600px) {
  .logo{
      max-width: 130px;
      margin: 0 auto;
      padding-bottom: 0px;
      padding-top: 10px;
  }
  .envio img {
    max-width: 120px;
}
.img-3 img {
    max-width: 18px;
}
.redes img{
  max-width: 20px;
}
.img-3 span{
  font-size: 9px;
}
.img-3 .col-lg-4{
      padding-right: 0px;
}
.login{
  padding-top: 50px;
}
.categoria-lg .col-md-4 h2 {

}
.categoria-lg .col-md-12 h2 {

}

.welcome{
  background: white;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}
.welcome h1{
  font-size: 35px;
}
.welcome p{
  font-size: 13px;
}
.categoria-lg .col-md-4 h2, .categoria-lg .col-md-12 h2{
  font-size: 20px;
}
.welcome .btn {
    padding: 10px 50px;
    margin-bottom: 18px;
    margin-top: 7px;
}

}

@media screen and (min-width: 1601px) {
  .noticias p {
      font-size: 11px;
  }
  .cat-1{
      padding-top: 5em;
  padding-bottom: 5em;
  }
  .cat-2{
      padding-top: 5em;
  padding-bottom: 5em;
  }

  .cat-3{
      padding-top: 5em;
  padding-bottom: 5em;
  }

  .cat-4{
      padding-top: 5em;
  padding-bottom: 5em;
  }
  .cat-1:hover{
    transition: 0.1s;
    background: url(../img/categoria-1-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
  padding-bottom: 5em;
  }
  .cat-2:hover{
    transition: 0.1s;
    background: url(../img/categoria-2-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
  padding-bottom: 5em;
  }

  .cat-3:hover{
    transition: 0.1s;
    background: url(../img/categoria-3-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
  padding-bottom: 5em;
  }

  .cat-4:hover{
    transition: 0.1s;
    background: url(../img/categoria-4-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
  padding-bottom: 5em;
  }



}







/*Especial*/


@media screen and (min-width: 1200px) and (max-width: 1353px) {
  .img-3 .col-lg-2{
      width: 50%;
  }
  .img-3 .col-lg-6{
    width: 100%;
    text-align: center;
  }

}



@media screen and (min-width: 1350px) and (max-width: 1500px) {
  .lg-2 video{
      width: 120%;
  }
}
