
*{
  font-family: 'Poppins', sans-serif;
}
.gratis{
  font-family: font127173;
  font-size: 28px;
}
a:hover, a:focus {
    color: white;
    text-decoration: none;
}
a{
    color: white;
}
.active a{
    color: #3a2b3a !important;
}
.sm video {
    position: relative;
    width: 100%;
}

.lg-2 video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
background: url('img/poster.png') no-repeat;
background-size: cover;
transition: 1s opacity;
}
.stopfade {
 opacity: .5;
}
.login{
  padding-top: 50px;
}

.menu{
    background: #6b5e72;
    height:100%;
    position: fixed;
    color: white;
}
.menu-2 ul {
    list-style: none;
    padding: 0px;
}
.menu-2 li{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu li a{
  color: #cad7d7;
}
.menu li a:hover{
  transition: 0.1s;
    color: #3a2b3a !important;
}

.redes ul {
    list-style: none;
}
.redes li{
     display: inline;
    padding-left: 40px;
}
.abajo{
    bottom: 0;
    position: absolute;
    width: 90%;
}
.envio img{
    margin: 0 auto;
    max-width: 180px;
}
.logo{
    max-width: 190px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 50px;
}
.tmorado{
  color: #6b5e72;
}
.welcome{
  background: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 48px;
}

.welcome h1{
  font-size: 55px;
}
.welcome .btn{
    padding: 15px 70px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.welcome .btn-primary{
    color: #6b5e72;
    background-color: transparent;
    border: 3px solid #cad7d7;
}

.welcome .btn-primary:hover {
  color: #6b5e72;
  background-color: transparent;
  border-color: #cad7d7;
}

.cat-1{
  background: url(../img/categoria-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-1:hover{
  transition: 0.1s;
  background: url(../img/categoria-1-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-2{
  background: url(../img/categoria-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-2:hover{
  transition: 0.1s;
  background: url(../img/categoria-2-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-3{
  background: url(../img/categoria-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-3:hover{
  transition: 0.1s;
  background: url(../img/categoria-3-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-4{
  background: url(../img/categoria-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-4:hover{
  transition: 0.1s;
  background: url(../img/categoria-4-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}
.categoria-lg h2{
  color: #ffffff;
}

.parar{
  overflow-y:hidden;
}
.barra {
    overflow: auto;
}
.t-banner img{
  width: 100%;
}
.img-producto img{
  width: 100%;
}
.elementos{
  margin-top: 25px;
}
.elemento-1 img{
  float: right;
}
.elemento-2 img{
  margin: 0 auto;
}
.elemento-3 img{
}
.t-producto-ind{
  margin-bottom: 50px;
}
.menu-3{
  background: #ededf0;
  height: 100%;
  position: fixed;
  left: 84%;
  padding-top: 15px;
}
.menu-3 .pri ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
}
.menu-3 .pri li{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-3 .pri li a{
  color: #8f809b;
}
.menu-3 h5{
  color: #3a2b3a;
}
.menu-3 .pri li a:hover{
  transition: 0.1s;
    color: #3a2b3a !important;
}
.noticias{
    bottom: 0;
    position: absolute;
    width: 90%;
}
.noticias img{
  width: 60px;
}
.noticias p {
    font-size: 9px;
}
.niveles li{
  width: 25px;
  height: 25px;
}
.niveles ul{
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.niveles li{
  display: inline-block;
  margin-right: -5px;
}
.linea-morada hr{
  border-bottom: 1px solid #91829d;
}
.linea-morada{
      margin-top: -35px;
}
.separacion-producto{
  border: 2px solid #91829d;
}
.portada-blog img{
  width: 100%;
}
.texto-blog .btn {
    padding: 17px 70px;
    border-radius: 0px;
}
.texto-blog .btn-primary {
    color: #6b5e72;
    background-color: transparent;
    border-color: #c8d5d5;
}
.separacion-blog hr{
  border-top: 5px solid #c8d5d5;
}




.menu-3 .tag ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
}
.menu-3 .tag li{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-3 .tag li a{
  color: #8f809b;
}
.menu-3 h5{
  color: #3a2b3a;
}
.menu-3 .tag li a:hover{
  transition: 0.1s;
    color: #3a2b3a !important;
}
.texto-blog p{
  color: #6b5e72;
}
.contacto ul{
  padding: 0px;
}
.contacto ul li{
  list-style: none;
  margin-bottom: 30px;
}
.contacto ul li a{
  color: #3a2b3a;
}

.boletin{
  background: #c8d5d5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.boletin img{
      margin-top: 14px;
      margin: 0 auto;
}
.boletin .form-control{
  text-align: center;
}
.f-contacto{
  margin-bottom: 40px;
}
.f-contacto .form-control {
    background-color: #f2f2f2;
    background-image: none;
    border: 0px solid #f2f2f2;
}

.form-control-2::placeholder { color: #8f809b; }
.form-control-2::placeholder { color: #8f809b; }
.form-control-2:-ms-input-placeholder { color: #8f809b; } /* IE 10+ */
.form-control-2::-webkit-input-placeholder { color: #8f809b; } /* WebKit */
.form-control-2::-moz-placeholder { color: #8f809b; } /* Firefox 19+ */

.f-contacto .btn {
    padding: 10px 64px;
    border-radius: 0px;
}
.f-contacto .btn-primary {
    color: #6b5e72;
    background-color: transparent;
    border-color: #c8d5d5;
}
.boletin .btn-default {
    color: #6b5e72;
}
.boletin .btn {
    display: inline-block;
    padding: 6px 29px;
        border-radius: 0px;
  }


.form-control-3::placeholder { color: #6b5e72; }
.form-control-3::placeholder { color: #6b5e72; }
.form-control-3:-ms-input-placeholder { color: #6b5e72; } /* IE 10+ */
.form-control-3::-webkit-input-placeholder { color: #6b5e72; } /* WebKit */
.form-control-3::-moz-placeholder { color: #6b5e72; } /* Firefox 19+ */



.galeria .col-md-4, .galeria .col-sm-6{
  padding-right: 0px;
  padding-left: 0px;
}

.galeria img{
  width: 100%;
}
.subir-galeria hr {
     margin-top: 0px;
    margin-bottom: 0px;
    border-top: 5px solid #c8d5d5;
    width: 40%;
}
.subir-galeria  h2, .subir-galeria h4{
  color: #c8d5d5;
  margin-top: 10px;
}
.subir-galeria  h1, .subir-galeria h3{
  color: #6b5e72;
}
.subir-galeria{
      margin-top: 25%;
}




























/*Menu 2 Pruebas*/
header{
  background: #cad7d7;
}

header p{
  color: #655c61;
}

nav{
  background: #6b5e72;
  padding-top: 8px;
  padding-bottom: 10px;
}
.sec-1 li{
    display: inline;
}
.sec-1{
  margin-top: 5px;
}
.sec-3{
  margin-top: 5px;
}
.sec-1 li img{
  max-height:  20px;
  padding-right: 35px;
}
.sec-2 img{
  margin: 0 auto;
  height: 35px;
}
.sec-3 img{
  max-height: 20px;
}
.sec-1 li span{
    font-size: 20px;
    color:#024772;
}

	.menu-wsi{
		width:50%;
		height:100%;
    top: 93px;
		left:-100%;
		margin:0;
		position: fixed;
    background:#6b5e72;
    color: white;
    z-index: 10;
    padding-top: 25px;
        }

.menu2-nosotros ul li{
    list-style: none;
    font-size: 13px;
    padding-top: 20px;
}
.menu2-nosotros{
    margin-top: 1em;
}
.menu2-nosotros ul li span{
    padding-left: 30%
}
.menu2-nosotros .espacio-nosotros-2{
    padding-left: 15%;
    margin-top: 0.5em;
}
.xxx{
    padding-bottom: 20px;
}
ul.menu-mobil img {
    padding-right: 30px;
}
.menu2-nosotros ul li {
    padding-left: 15px;
}
.categoria-xs-menu {
    background: #efeff2;
    color: #91829d;
}
.categoria-xs-menu li a{
    color: #91829d;
}
