
*{
  font-family: 'Poppins', sans-serif;
}
.gratis{
  font-family: font127173;
  font-size: 28px;
}
a:hover, a:focus {
    color: white;
    text-decoration: none;
}
a{
    color: white;
}
.active a{
    color: #3a2b3a !important;
}
.sm video {
    position: relative;
    width: 100%;
}

.lg-2 video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
background-size: cover;
transition: 1s opacity;
}
.stopfade {
 opacity: .5;
}
.login{
  padding-top: 50px;
}

.menu{
    background: #6b5e72;
    height:100%;
    position: fixed;
    color: white;
}
.menu-2 ul {
    list-style: none;
    padding: 0px;
}
.menu-2 li{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu li a{
  color: #cad7d7;
}
.menu li a:hover{
  transition: 0.1s;
    color: #3a2b3a !important;
}

.redes ul {
    list-style: none;
}
.redes li{
     display: inline;
    padding-left: 40px;
}
.abajo{
    bottom: 0;
    position: absolute;
    width: 90%;
}
.envio img{
    margin: 0 auto;
    max-width: 180px;
}
.logo{
    max-width: 190px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 50px;
}
.tmorado{
  color: #6b5e72;
}
.welcome{
  background: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 48px;
}

.welcome h1{
  font-size: 55px;
}
.welcome .btn{
    padding: 15px 70px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.welcome .btn-primary{
    color: #6b5e72;
    background-color: transparent;
    border: 3px solid #cad7d7;
}

.welcome .btn-primary:hover {
  color: #6b5e72;
  background-color: transparent;
  border-color: #cad7d7;
}

.cat-1{
  background: url(../img/categoria-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-1:hover{
  transition: 0.1s;
  background: url(../img/categoria-1-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-2{
  background: url(../img/categoria-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-2:hover{
  transition: 0.1s;
  background: url(../img/categoria-2-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-3{
  background: url(../img/categoria-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-3:hover{
  transition: 0.1s;
  background: url(../img/categoria-3-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}

.cat-4{
  background: url(../img/categoria-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
padding-bottom: 3em;
}
.cat-4:hover{
  transition: 0.1s;
  background: url(../img/categoria-4-hover.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
padding-bottom: 3em;
}
.categoria-lg h2{
  color: #ffffff;
}

















/*Menu 2 Pruebas*/
header{
  background: #cad7d7;
}

header p{
  color: #655c61;
}

nav{
  background: #6b5e72;
  padding-top: 8px;
  padding-bottom: 10px;
}
.sec-1 li{
    display: inline;
}
.sec-1{
  margin-top: 5px;
}
.sec-3{
  margin-top: 5px;
}
.sec-1 li img{
  max-height:  20px;
  padding-right: 35px;
}
.sec-2 img{
  margin: 0 auto;
  height: 35px;
}
.sec-3 img{
  max-height: 20px;
}
.sec-1 li span{
    font-size: 20px;
    color:#024772;
}

	.menu-wsi{
		width:50%;
		height:100%;
    top: 93px;
		left:-100%;
		margin:0;
		position: fixed;
    background:#6b5e72;
    color: white;
    z-index: 10;
    padding-top: 25px;
        }

.menu2-nosotros ul li{
    list-style: none;
    font-size: 13px;
    padding-top: 20px;
}
.menu2-nosotros{
    margin-top: 1em;
}
.menu2-nosotros ul li span{
    padding-left: 30%
}
.menu2-nosotros .espacio-nosotros-2{
    padding-left: 15%;
    margin-top: 0.5em;
}
.xxx{
    padding-bottom: 20px;
}
ul.menu-mobil img {
    padding-right: 30px;
}
.menu2-nosotros ul li {
    padding-left: 15px;
}
.categoria-xs-menu {
    background: #efeff2;
    color: #91829d;
}
.categoria-xs-menu li a{
    color: #91829d;
}
